*, *::before, *::after {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  body {
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 90%;
    width: 1200px;
    background-color: grey;
    box-shadow: 0 5px 10px black;
    border-radius: 5px;
  }